li#ip{
    border-color: #23527c;
}

li#ip>a{
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

div#usr_image{
    height: 120px;
    width: 120px;
    background-image:url(../image/usr.png);
    background-size: cover;
}

input#id_usrname,input#id_old_password,input#id_new_password{
    width: 80%;
}

input#submit{
    float: right;
    margin-right: -80px;
}

ul.errorlist{
	list-style-type: none;
    width: 160px;
	padding: 0px;
	margin: 0px auto;
	color: red;
}

div#example1{
    height: 300px;
}
td,th{
    text-align: center;

}

td{
    font-size: 13px;
}

table#configed_table{
    margin-bottom: 0;
}

div#configed_table_body{
    /*height: 650px;*/
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

div#table_box{
    padding-right: 17px;
}

span.glyphicon-remove-circle{
    color: red;
}

span.glyphicon-ok-circle{
    color: green;
}

a.status{
    font-size: 18px;

}

table#table_body>tbody>tr>td{
    vertical-align: middle;
}
.btn{
    margin-top: 20px;
    margin-left: 10px;
}