li#main{
    border-color: #23527c;
}

li#main>a{
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

div#sum{
    height: 150px;
    width: 150px;
    background-color: #337ab7;
    margin: 30px auto 30px auto;
    border-radius: 8px;
}

div#free{
    height: 150px;
    width: 150px;
    background-color: #f0ad4e;
    margin: 30px auto 30px auto;
    border-radius: 8px;
}

div#confed{
    height: 150px;
    width: 150px;
    background-color: #5cb85c;
    margin: 30px auto 30px auto;
    border-radius: 8px;
}

