{% extends "base.html" %}

{% load static %}

{% block title %}编辑设备配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/config.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="alert alert-danger" role="alert" id="myalter" style="display: none">
    <button type="button" class="close" id="close">
      <span aria-hidden="true">&times;</span>
    </button>
  <strong>IP地址不合法</strong> 请重新输入。
</div>

<div class="alert alert-danger" role="alert" id="myalter1" style="display: none">
    <button type="button" class="close" id="close1">
      <span aria-hidden="true">&times;</span>
    </button>
  <strong>该IP已经被注册</strong> 请重新输入。
</div>

<div class="row sparse"><label class="head">设备配置&nbsp&nbsp&nbsp&nbsp</label></div>
<form method="post" onsubmit="return checkIP()" id="form1">
{% csrf_token %}
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>输入接口ID:&nbsp&nbsp</label>{{ form.id }}
        </div>
        <div class="col-md-6">
            <label>输入接口名称:&nbsp&nbsp</label>{{ form.name }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>多按键设备IP<span class="red">*</span>:&nbsp&nbsp</label>{{ form.ip }}
        </div>
        <div class="col-md-6">
            <label>多按键设备描述:&nbsp&nbsp</label>{{ form.description }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设 1 按键名称:&nbsp&nbsp</label>{{ form.key1 }}
        </div>
        <div class="col-md-6">
            <label>预设 2 按键名称:&nbsp&nbsp</label>{{ form.key2 }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设 3 按键名称:&nbsp&nbsp</label>{{ form.key3 }}
        </div>
        <div class="col-md-6">
            <label>预设 4 按键名称:&nbsp&nbsp</label>{{ form.key4 }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设 5 按键名称:&nbsp&nbsp</label>{{ form.key5 }}
        </div>
        <div class="col-md-6">
            <label>预设 6 按键名称:&nbsp&nbsp</label>{{ form.key6 }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设 7 按键名称:&nbsp&nbsp</label>{{ form.key7 }}
        </div>
        <div class="col-md-6">
            <label>预设 8 按键名称:&nbsp&nbsp</label>{{ form.key8 }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设 9 按键名称:&nbsp&nbsp</label>{{ form.key9 }}
        </div>
        <div class="col-md-6">
            <label>预设10按键名称:&nbsp&nbsp</label>{{ form.key10 }}
        </div>
    </div>
    <div class="row sparse_min">
        <div class="col-md-5 col-md-offset-1">
            <label>预设11按键名称:&nbsp&nbsp</label>{{ form.key11 }}
        </div>
        <div class="col-md-6">
            <label>预设12按键名称:&nbsp&nbsp</label>{{ form.key12 }}
        </div>
    </div>
    <div style="display: none;">{{ form.status }}</div>
    <div class="row sparse">
        <div class="col-md-4 col-md-offset-8">
            <input type="submit" value="保存并进入按键配置" class="btn btn-primary">
        </div>
    </div>
</form>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_id').val('{{ id }}');
    $('input#id_name').val('{{ name }}');
    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });

    $('button#close1').click(function () {
        $('#myalter1').attr('style','display:none')
    });

    if('{{ alter }}'=='error'){
        $('#myalter1').attr('style','display:block')
    }

    if('{{ status }}'=='edit') {
        $('li#edit').attr('style','border-color: #23527c;');
        $('li#edit>a').attr('style','text-decoration: none;background-color: #eee;color: #23527c;');
        $('li#dev_configed > a').attr('style','color: #efb041;padding-left: 30px;');
        $('input#id_status').val('edit');
    } else {
        $('li#dev_free > a').attr('style','color: #efb041;padding-left: 30px;');
        $('input#id_status').val('new');
    }

    if(('{{ status }}' === 'edit') && ('{{ alter }}' !== 'error')) {
        $('input#id_ip').val('{{ dict.ip }}');
        $('input#id_description').val('{{ dict.description }}');
        $('input#id_key1').val('{{ dict.key1 }}');
        $('input#id_key2').val('{{ dict.key2 }}');
        $('input#id_key3').val('{{ dict.key3 }}');
        $('input#id_key4').val('{{ dict.key4 }}');
        $('input#id_key5').val('{{ dict.key5 }}');
        $('input#id_key6').val('{{ dict.key6 }}');
        $('input#id_key7').val('{{ dict.key7 }}');
        $('input#id_key8').val('{{ dict.key8 }}');
        $('input#id_key9').val('{{ dict.key9 }}');
        $('input#id_key10').val('{{ dict.key10 }}');
        $('input#id_key11').val('{{ dict.key11 }}');
        $('input#id_key12').val('{{ dict.key12 }}');
    }

    function checkIP() {
        obj = document.getElementById("id_ip").value;
        //ip地址
        var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        var reg = obj.match(exp);
        if(reg==null) {
            $('#myalter').attr('style','display:block')
            return false;
        }
        else {
            return true;
        }
    }

</script>
{% endblock %}
