{% extends "base.html" %}

{% load static %}

{% block title %}未配置设备{% endblock %}

{% block css %}
<link href="{% static  "system/css/free.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">新增设备配置&nbsp&nbsp&nbsp&nbsp</label></div>
<div class="row sparse" id="search_bar">
    <div class="col-md-2 col-md-offset-1">
        <label>可用输入接口列表</label>

    </div>
    <div class="col-md-6">
            <input type="text" placeholder="按名称关键字搜索" id="search_info">
            <button class="btn btn-primary" id="search_button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</button>
    </div>
    <div class="col-md-3"></div>
</div>

    <div class="col-md-9 col-md-offset-1">
        <div id="table_box">
            <table class="table table-hover table-condensed table-striped" id="free_table">
                        <colgroup>
                            <col style="width: 40px"><col style="width: 70%"><col style="width: 100px">
                        </colgroup>
                <thead>
                    <tr>
                        <th>#</th>

                        <th>名称</th>
                        <th class="download">绑定配置多KEY</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="free_table_box">
            <table class="table table-hover table-condensed table-striped" id="free_table_body">
                <colgroup>
                    <col style="width: 40px"><col style="width: 70%"><col style="width: 100px">
                </colgroup>
                <tbody >
                {% for form in form %}
                    <tr id="id{{ forloop.counter }}">
                        <td>{{ forloop.counter }}</td>



                        <td id="name_{{ forloop.counter }}">{{ form.1 }}</td>
                        <td class="download">
                            <a class="btn config" href="/system/config.html?id={{ form.0 }}&name={{ form.1 }}">
                                <span class="glyphicon glyphicon-import" aria-hidden="true" ></span>
                            </a>
                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>





{% endblock %}

{% block js %}
<script type="text/javascript">

    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('#search_button').click(function () {
        var text = $('#search_info').val()
        for(i = 1;i<={{form|length}};i++){
            var file_name = $('#name_'+ i).text()
            {#file_name=file_name.replace(".html","");#}
            if (file_name.indexOf(text) == -1){
                $('#id'+ i).attr('style','display:none')
            }else {
                var str = '<span style="background-color:#eec805">'+text+'</span>';
                $('#name_'+ i).html($('#name_'+ i).text().replace(text,str));
            }
        }

    })
    $("#search_info").blur(function () {
        var text = $(this).val()
        if(text == ''){
            for(i = 1;i<={{form|length}};i++){
                $('#id'+ i).removeAttr('style')
                $('#id_'+ i + '>span').removeAttr('style')
            }
        }
    })
</script>
{% endblock %}
