{% extends "base.html" %}

{% load static %}

{% block title %}按键设置{% endblock %}

{% block css %}
<link href="{% static  "system/css/keyconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row sparse"><label class="head">按键设置&nbsp&nbsp&nbsp&nbsp</label></div>
<div class="row sparse">
    <div class="col-md-5 ">
        <label>输入:&nbsp&nbsp</label>{{ dict.name }}&nbsp&nbsp&nbsp&nbsp
        <label>IP:&nbsp&nbsp</label>{{ dict.ip }}&nbsp&nbsp<label>按键设置表</label>
    </div>
    <div class="col-md-7">
            <input type="text" placeholder="搜索" id="search_info">
            <button class="btn btn-primary" id="search_button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 按名称搜索</button>
    </div>

</div>
<div class="row" id="key_set">

            <table class="table table-hover table-condensed table-striped" id="key_table">
                <thead>
                    <tr>
                        <th>输出名称</th>
                        <th><span>{{ dict.key1 }}</span><br>预设1</th>
                        <th>预设2</th>
                        <th>预设3</th>
                        <th>预设4</th>
                        <th>预设5</th>
                        <th>预设6</th>
                        <th>预设7</th>
                        <th>预设8</th>
                        <th>预设9</th>
                        <th>预设10</th>
                        <th>预设11</th>
                        <th>预设12</th>
                    </tr>
                </thead>
            <tbody>
{% for form in form %}
                <tr id="id{{ forloop.counter }}">
                    <td>{{ forloop.counter }}</td>
                    <td id="id_{{ forloop.counter }}">{{ form.0 }}</td>
                    <td id="name_{{ forloop.counter }}">{{ form.1 }}</td>
                    <td class="download">
                        <a class="btn config" href="/system/config.html?id={{ form.0 }}&name={{ form.1 }}">
                            <span class="glyphicon glyphicon-import" aria-hidden="true" ></span>
                        </a>
                    </td>

                </tr>

 {% endfor %}
            </tbody>
            </table>


</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_id').val('{{ id }}');
    $('input#id_name').val('{{ name }}');
    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });
    function checkIP() {
        obj = document.getElementById("id_ip").value;
        //ip地址
        var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        var reg = obj.match(exp);
        if(reg==null) {
            $('#myalter').attr('style','display:block')
            return false;
        }
        else {
            return true;
        }
    }



</script>
{% endblock %}
