{% extends "base.html" %}

{% load static %}

{% block title %}按键设置{% endblock %}

{% block css %}
<link href="{% static  "system/css/keyconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block modal-content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">配置模板列表</h4>
    </div>
    <div class="modal-body">
        <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="table_box" >
             <table class="table table-hover table-condensed table-striped" id="template_table">
                <colgroup>
                    <col /><col style="width: 70px">
                </colgroup>
                <thead>
                    <tr>
                        <th>模板名称</th>

                        <th>加载模板</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="template_table_box" >
            <table class="table table-hover table-condensed table-striped" id="template_table_body">
                <colgroup>
                    <col /><col style="width: 70px">
                </colgroup>
            <tbody>

        {% for form in form_template %}
                <tr id="id{{ forloop.counter }}">

                    <td id="name_{{ forloop.counter }}">{{form.0}}</td>
                    <td class="delete">
                        <a class="btn config load" name="{{form.0}}">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
        {% endfor %}

            </tbody>
            </table>

        </div>
    </div>
</div>


    </div>
{% endblock %}

{% block content %}
    {% csrf_token %}
<div class="row sparse"><label class="head">按键设置&nbsp&nbsp&nbsp&nbsp</label></div>
<div class="row sparse_min">
    <div class="col-md-5 ">
        <label>输入:&nbsp&nbsp</label>{{ dict.name }}&nbsp&nbsp&nbsp&nbsp
        <label>IP:&nbsp&nbsp</label>{{ dict.ip }}&nbsp&nbsp<label>按键设置表</label>
    </div>
    <div class="col-md-5">
            <input type="text" placeholder="按名称关键字搜索" id="search_info">
            <button class="btn btn-primary" id="search_button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</button>
    </div>
    <div class="col-md-2">
            <button class="btn btn-primary" id="load" type="button" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 加载模板</button>
    </div>

</div>
<div class="row" id="key_set">
    <div id="key_table_head">
        <table class="table table-hover table-condensed table-striped" id="key_table">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <thead>
                <tr>
                    <th>输出名称</th>
                    <th><span>{{ dict.key1 }}</span><br>预设1</th>
                    <th><span>{{ dict.key2 }}</span><br>预设2</th>
                    <th><span>{{ dict.key3 }}</span><br>预设3</th>
                    <th><span>{{ dict.key4 }}</span><br>预设4</th>
                    <th><span>{{ dict.key5 }}</span><br>预设5</th>
                    <th><span>{{ dict.key6 }}</span><br>预设6</th>
                    <th><span>{{ dict.key7 }}</span><br>预设7</th>
                    <th><span>{{ dict.key8 }}</span><br>预设8</th>
                    <th><span>{{ dict.key9 }}</span><br>预设9</th>
                    <th><span>{{ dict.key10 }}</span><br>预设10</th>
                    <th><span>{{ dict.key11 }}</span><br>预设11</th>
                    <th><span>{{ dict.key12 }}</span><br>预设12</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="key_table_box">
        <table class="table table-hover table-condensed table-striped" id="key_table_body">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <tbody>
            {% for name in output_name %}
                <tr id="id{{ forloop.counter }}">
                    <td>{{ name.0 }}</td>
                    <td><input name="key1" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key2" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key3" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key4" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key5" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key6" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key7" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key8" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key9" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key10" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key11" type="checkbox" value="{{ name.0 }}" /></td>
                    <td><input name="key12" type="checkbox" value="{{ name.0 }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="key_table_action">
        <table class="table table-hover table-condensed" id="">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <tbody>
                <tr >
                    <td><label class="action" >清除此按键设置</label></td>
                    <td>
                        <a class="btn config" id="key1" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key2" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key3" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key4" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key5" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key6" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key7" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key8" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key9" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key10" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key11" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" id="key12" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="col-md-2 col-md-offset-10">
    <button class="btn btn-primary" id="save">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> 保存设备配置
    </button>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_id').val('{{ id }}');
    $('input#id_name').val('{{ name }}');
    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });

    var set_dict = {
        'id':'{{ dict.id }}',
        'key1':[],'key2':[],'key3':[],'key4':[],'key5':[],'key6':[],
        'key7':[],'key8':[],'key9':[],'key10':[],'key11':[],'key12':[],

    }




    function checkIP() {
        obj = document.getElementById("id_ip").value;
        //ip地址
        var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        var reg = obj.match(exp);
        if(reg==null) {
            $('#myalter').attr('style','display:block')
            return false;
        }
        else {
            return true;
        }
    }

    $('a.config').click(function () {
        var ele = $(this).attr('id')
        $('input[name="'+ele+'"]').prop('checked',false)
    })


    $('a.load').click(function () {


        var val = $(this).attr('name')
        $.get('loadtemp?name='+val).done(function (message) {

            $('input:checked').prop("checked",false)



            for(i=0;i<message.key1.length;i++){
                var in_name =message.key1[i]
                $('input[name="key1"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key2.length;i++){
                var in_name =message.key2[i]
                $('input[name="key2"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key3.length;i++){
                var in_name =message.key3[i]
                $('input[name="key3"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key4.length;i++){
                var in_name =message.key4[i]
                $('input[name="key4"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key5.length;i++){
                var in_name =message.key5[i]
                $('input[name="key5"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key6.length;i++){
                var in_name =message.key6[i]
                $('input[name="key6"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key7.length;i++){
                var in_name =message.key7[i]
                $('input[name="key7"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key8.length;i++){
                var in_name =message.key8[i]
                $('input[name="key8"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key9.length;i++){
                var in_name =message.key9[i]
                $('input[name="key9"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key10.length;i++){
                var in_name =message.key10[i]
                $('input[name="key10"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key11.length;i++){
                var in_name =message.key11[i]
                $('input[name="key11"][value='+in_name+']').prop("checked",true)
            }

            for(i=0;i<message.key12.length;i++){
                var in_name =message.key12[i]
                $('input[name="key12"][value='+in_name+']').prop("checked",true)
            }
        }).fail(function () {

        })
    })

    $('button#save').click(function () {

        for(i=1;i<13;i++){
            var key = "key"+i
            $('input[name="'+key+'"]:checked').each(function(){
                set_dict[key].push($(this).val());//向数组中添加元素
            });
        }

        var jsonStr = JSON.stringify(set_dict);

        $.post("saveconf",{'mes':jsonStr,'csrfmiddlewaretoken': $("[name = 'csrfmiddlewaretoken']").val(),'status':'new'}).done(function () {
            window.location.href ='free.html'


        }).fail(function () {

        })

    })



</script>
{% endblock %}
