{% extends "base.html" %}

{% load static %}

{% block title %}按键设置{% endblock %}

{% block css %}
<link href="{% static  "system/css/keyconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row sparse"><label class="head">按键设置&nbsp&nbsp&nbsp&nbsp</label></div>
<div class="row sparse_min">
    <div class="col-md-5 ">
        <label>输入:&nbsp&nbsp</label>{{ dict.name }}&nbsp&nbsp&nbsp&nbsp
        <label>IP:&nbsp&nbsp</label>{{ dict.ip }}&nbsp&nbsp<label>按键设置表</label>
    </div>
    <div class="col-md-7">
            <input type="text" placeholder="搜索" id="search_info">
            <button class="btn btn-primary" id="search_button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 按名称搜索</button>
    </div>

</div>
<div class="row" id="key_set">
    <div id="key_table_head">
        <table class="table table-hover table-condensed table-striped" id="key_table">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <thead>
                <tr>
                    <th>输出名称</th>
                    <th><span>{{ dict.key1 }}</span><br>预设1</th>
                    <th><span>{{ dict.key2 }}</span><br>预设2</th>
                    <th><span>{{ dict.key3 }}</span><br>预设3</th>
                    <th><span>{{ dict.key4 }}</span><br>预设4</th>
                    <th><span>{{ dict.key5 }}</span><br>预设5</th>
                    <th><span>{{ dict.key6 }}</span><br>预设6</th>
                    <th><span>{{ dict.key7 }}</span><br>预设7</th>
                    <th><span>{{ dict.key8 }}</span><br>预设8</th>
                    <th><span>{{ dict.key9 }}</span><br>预设9</th>
                    <th><span>{{ dict.key10 }}</span><br>预设10</th>
                    <th><span>{{ dict.key11 }}</span><br>预设11</th>
                    <th><span>{{ dict.key12 }}</span><br>预设12</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="key_table_box">
        <table class="table table-hover table-condensed table-striped" id="key_table_body">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <tbody>
            {% for name in output_name %}
                <tr id="id{{ forloop.counter }}">
                    <td>{{ name.0 }}</td>
                    <td><input name="key1" type="checkbox" value="" /></td>
                    <td><input name="key2" type="checkbox" value="" /></td>
                    <td><input name="key3" type="checkbox" value="" /></td>
                    <td><input name="key4" type="checkbox" value="" /></td>
                    <td><input name="key5" type="checkbox" value="" /></td>
                    <td><input name="key6" type="checkbox" value="" /></td>
                    <td><input name="key7" type="checkbox" value="" /></td>
                    <td><input name="key8" type="checkbox" value="" /></td>
                    <td><input name="key9" type="checkbox" value="" /></td>
                    <td><input name="key10" type="checkbox" value="" /></td>
                    <td><input name="key11" type="checkbox" value="" /></td>
                    <td><input name="key12" type="checkbox" value="" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="key_table_action">
        <table class="table table-hover table-condensed" id="">
            <colgroup>
                <col style="width: 150px"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
                <col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%"><col style="width:7%">
            </colgroup>
            <tbody>
                <tr >
                    <td><label class="action" >清除此按键设置</label></td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn config" href="" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_id').val('{{ id }}');
    $('input#id_name').val('{{ name }}');
    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });
    function checkIP() {
        obj = document.getElementById("id_ip").value;
        //ip地址
        var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        var reg = obj.match(exp);
        if(reg==null) {
            $('#myalter').attr('style','display:block')
            return false;
        }
        else {
            return true;
        }
    }



</script>
{% endblock %}
