{% extends "base.html" %}

{% load static %}

{% block title %}配置模板管理{% endblock %}

{% block css %}
<link href="{% static  "system/css/template.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row sparse"><label class="head">配置模板管理&nbsp&nbsp&nbsp&nbsp</label></div>

<div class="row sparse" id="head_bar">
    <div class="col-md-3 col-md-offset-1" >
        <label>配置模板列表</label>

    </div>
    <div class="col-md-7">
            <input type="text" placeholder="按名称关键字搜索" id="search_info">
            <button class="btn btn-primary" id="search_button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</button>
    </div>

</div>

<div class="row sparse_min">
    <div class="col-md-10 col-md-offset-1">
        <div id="table_box" >
             <table class="table table-hover table-condensed table-striped" id="template_table">
                <colgroup>
                    <col style="width: 40px"><col style="width: 50%"><col style="width: 70px"><col style="width: 70px"><col style="width: 70px">
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>模板名称</th>
                        <th>查看信息</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="template_table_box" >
            <table class="table table-hover table-condensed table-striped" id="template_table_body">
                <colgroup>
                    <col style="width: 40px"><col style="width: 50%"><col style="width: 70px"><col style="width: 70px"><col style="width: 70px">
                </colgroup>
            <tbody>

        {% for form in form %}
                <tr id="id{{ forloop.counter }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{form.0}}</td>
                    <td class="download">
                        <a class="btn config" href="/system/configedaction?id={{ form.3 }}&action=scan" >
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="download">
                        <a class="btn config" href="/system/configedaction?id={{ form.3 }}&action=edit">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="delete">
                        <a class="btn config" href="/system/configedaction?id={{ form.3 }}&action=delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
        {% endfor %}

            </tbody>
            </table>

        </div>
    </div>
</div>


    <div class="col-md-2 col-md-offset-9" id="newtemp">
        <a class="btn btn-primary" href="newtemp.html">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建配置模板</a>
    </div>










{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');


</script>
{% endblock %}
